<div class="container">
  <h1>The Best Cocktails in all of Bali</h1>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail.id) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <p class="cocktail-name"><%= cocktail.name %></p>
      </div>
    <% end %>
    <% end %>
  </div>

</div>
