.m-ctr {
  margin: 0 auto;
}

.p-100 {
  padding: 0 100px;
}

.ingredients {
  padding-left: 50px;

  a {
    color: $light-beige;
    transition: 0.4s;
  }

  a:hover {
    opacity: 0.5;
  }
}

.container {
  margin-bottom: 100px;
}
