<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="<%= cocktails_path %>">Cocktailicious</a>
  <form action="cocktails" method="get" class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Cocktail name.." name="search_query" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <%= link_to 'Create new cocktail', new_cocktail_path, class: "m-left-6 btn btn-outline-secondary" %>
  </form>
</nav>
